<!-- <div style="background: #EEFEFF";> -->
  <div id="appliance_1_div" style="display: table; width: 100%; margin-bottom: 30px;">
    <div style="display: table-row;">
      <div style="display: table-cell; width: 30%; font-weight: bold;">Host Name</div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell; width: 70%; font-weight: bold;">Manufacturer</div>     
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell; border-style: groove;"><%= @appliance.name %></div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell; border-style: groove;"><%= @appliance.manufacturer %></div>      
    </div>
  </div>
  <div id="appliance_2_div" style="display: table; width: 100%; margin-bottom: 30px;">
    <div style="display: table-row;">
      <div style="display: table-cell; width: 30%; font-weight: bold;">Model</div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell; width: 70%; font-weight: bold;">Serial</div>       
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell;border: 1px solid black;"><%= @appliance.model %></div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell;border: 1px solid black;"><%= @appliance.serial %></div>      
    </div>
  </div>
  <div id="appliance_3_div" style="display: table; width: 100%; margin-bottom: 30px;">
    <div style="display: table-row;">
      <div style="display: table-cell; width: 30%; font-weight: bold;">Admin User</div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell; width: 70%; font-weight: bold;">Password</div>     
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell;border: 1px solid black;"><%= @appliance.user_name %></div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell;border: 1px solid black;"><%= @appliance.password %></div>      
    </div>
  </div>
  <div id="appliance_4_div" style="display: table; width: 100%; margin-bottom: 30px;">
    <div style="display: table-row;">
      <div style="display: table-cell; width: 30%; font-weight: bold;">IP Address</div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell; width: 70%; font-weight: bold;">URI</div>
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell;border: 1px solid black;"><%= @appliance.ip_addr %></div>
      <div style="display: table-cell;">&nbsp;&nbsp;</div>
      <div style="display: table-cell;border: 1px solid black;"><%= @appliance.url %></div> 
    </div>
  </div>
  <div id="appliance_4_div" style="display: table; width: 100%;">
    <div style="display: table-row;">
      <div style="display: table-cell; text-align: right; width: 90%; font-weight: bold;">
        <% appliance_delete_url = "/appliances/" + @appliance.id.to_s %>
        <%= button_to "del", appliance_delete_url, :method => :delete, remote: true %>
      </div>
      <div style="display: table-cell; text-align: left; width: 10%; font-weight: bold;">
        <!-- <% appliance_edit_url = "/appliances/" + @appliance.id.to_s  + "/edit"%> -->
        <!-- <%= button_to "Edit", appliance_delete_url, :method => :edit, remote: true %> -->
        <%= button_to "Edit", edit_appliance_path(:id => @appliance.id), :method => :get, remote: true %>
      </div>
    </div>
  </div>